<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel= 'stylesheet' href='/stylesheets/style.css '/>
    <link rel= 'stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
</head>

<body>
<header> Team Reckless Sound</header></br></br> 


    {% block mainContent %}
      <section>Welcome to {{ title }}. {{tagline}}</section>
    {% endblock %}

   
      <footer>
        <a href="/">Home</a> &gt <a href="/about">About us</a>
      </footer>
<!-- robin's test comment -->

  </body>
</html>